:root {
  --foreground-rgb: 241, 245, 249;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 30, 41, 59;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  padding-left: 4px;
}

#link {
  font-size: 1.25rem;
  border: 1px solid white;
  padding: 6px 4px;
  border-radius: 4px;
  outline: none;
  align-self: center;
  justify-items: center;
}
#link::after {
  color: white;
}
#link:hover {
  background-color: rgb(42, 55, 69);
}
