:root {
  --foreground-rgb: 241, 245, 249;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 30, 41, 59;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  width: 60vw;
  margin-inline: 20vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  padding-left: 4px;
}

.todo-age {
  display: grid;
  grid-template: "new new a b";
  grid-template-columns: 1fr 3fr 2fr 2fr;
}

.todo-age > div {
  grid-area: new;
}

.todo-age > button {
  grid-area: a;
  width: 60%;
}

.todo-age > button + button {
  grid-area: b;
}
