li {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr;
  gap: 1px;
  align-items: center;
  border: 1px solid gray;
  padding: 2px;
}

input[type="checkbox"]:checked + label.st {
  text-decoration: line-through;
  color: slategray;
}

span {
}
